{% extends 'ecomerce/base.html' %}

{% block title %}Items{% endblock %}

{% block content %}
    <div class="nav pb-6 grid grid-cols-4 gap-4 bg-gray-100">
        <div class="col-span-1">
            <form method="get" action="{% url 'item:search-item' %}">
                <input name="query" class="w-full py-4 px-6 border rounded-xl" type="text" value="{{query}}" placeholder="Find your item">
                <div class="text-center">
                    <button class="mt-2 py-4 px-8 text-lg bg-teal-500 text-white rounded-xl">Search</button>
                </div>

            </form>
            <hr class="my-6">
            <p class="font-semibold text-center">Categories</p>
            <ul style="padding-left: 20px">
                {% for category in categories %}
                    <li style="list-style-type: square">
                        {% if category.id == category.id %}
                        <a  href="{% url 'item:search-item'%}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
                        {% endif %}
                {% endfor %}
                    </li>
            </ul>
            <hr class="my-6">
            <div class="text-center">
            {%  if category_id != 0 %}
                <button class="mt-2 py-4 px-8 text-lg bg-teal-500 text-white rounded-xl"><a href="{% url 'item:search-item'%}">Clear Filter</a></button>
            {% endif %}
        </div>
        </div>
        <div class="col-span-3">
            <div class="grid grid-cols-3 gap-3">
                {% for item in items %}
                    <div>
                        <a href="{% url 'item:detail' item.slug %}">
{#                            {% if image.url %}#}
                            <div>
                                <img src="{{ item.image.url }}" class="rounded-t-xl">
                            </div>
{#                            {% endif %}#}
                            <div class="p-6 bg-white rounded-b-xl">
                                <h2 class="text-2xl">{{ item.name }}</h2>
                                <p class="text-gray-500">Price: {{ item.price }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}